# Created by .ignore support plugin (hsz.mobi)

target/
lib_managed/
src_managed/
project/boot/
.cache
.idea/
project/project/

/temp
/.vscode/
/.metals/
/.sbt-boot/
/.bloop/
/.coursier-cache/
/.bsp/
/.ivy2/
/project/.bloop/
/project/metals.sbt
