[submodule "lib/uglifyjs"]
	path = lib/uglifyjs
	url = https://github.com/mishoo/UglifyJS2
[submodule "src/main/resources/uglifyjs"]
	path = src/main/resources/uglifyjs
	url = https://github.com/mishoo/UglifyJS2
